@import "./variables";

html, body {
  min-height: 100vh;
  color: #fff;
}

#app {
    min-height: 100vh;
  #wrapper {
    background-color: rgb(25, 20, 20);
    min-height: 100vh;

    .form-control:focus {
      border: none;
      box-shadow: unset;
    }
  }
}